.menutrai{
    border: 1px solid #EEE;
}
.menuphai{
    border: 1px solid #EEE;
}
.row{
    margin: 0px;
    
}
.tieude{
    background:  blue;
    color: white;
    text-align: center;
    padding: 2px;
}